<div class="container-fluid">
    <div class="row" *ngIf="!isEmpty">
            <div>
                <mat-card style="margin: 12px; height:78vh; overflow-y: auto;" >
                   <!-- creating a tile view for all the submissions  -->
                    <mat-card class="report-div" *ngFor="let booking of bookingSubmissions">
                        <div class="tile-placements">
                            <mat-label style="margin:6px;">Name - <span>{{booking.name}}</span></mat-label>
                            <mat-label style="margin:6px;">Email - <span>{{booking.emailAddress}}</span></mat-label>
                            <mat-label style="margin:6px;">Destination - <span>{{booking.destination}}</span></mat-label>
                            <mat-label style="margin:6px;">Number of Traverllers - <span>{{booking.numberofTravellers}}</span></mat-label>
                            <mat-label style="margin:6px;">Budget / person ($) - <span>{{booking.budgetPerPerson}}</span></mat-label>
                        </div>
                    </mat-card>
                </mat-card>
                <button mat-raised-button color="primary" (click)="back()" style="margin:12px;">Back</button>
            </div>
        </div>
    <h1 *ngIf="isEmpty">No Data Found</h1>
</div>