.report-div {
    display: flex;
    padding: 1em;
    margin-bottom:1em ;
    border: 1px solid rgba(242, 242, 242, 1);
    background-color: #FFFFFF;
    border-radius: 4px;
    line-height: 1.5;
    box-shadow: none !important;
    flex-direction: column;
    width: 100%;
    min-height: 10em;
  }

  .tile-placements {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: start;
    flex-direction: column;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
  }